# Aufgabenblatt 5: Datenbearbeitung

importiere folgende Bibliotheken:
- pandas as pd
- numpy as np
- import random

## Aufgabe 1: Slicing
### a) auf Listen
- erstelle eine Liste `slice_list` mit den Werten von 1 bis 30

- slice auf jedes `zweite` Element startend mit dem `ersten` Element

- slice auf jedes `zweite` Element startend mit dem `zweiten` Element

- selektiere auf den Bereich von `5-13` und gebe nur jedes `dritte` Element aus

- gebe die letzten `vier` Elemente aus

- starte beim `fünften` Element und beende beim `vorletzen` Element, wobei nur jedes `vierte` Element angezeigt wird

### b) verändere Werte mittels Slice 
- verwende die `slice_liste` aus `a`
- überschriebe die Werte `28` mittels slice in `40`

- überschriebe die Werte `10,11,12` mittels slice in `41,42,43`

### c) Slice auf String
- erstelle den String Satz: `Das ist ein langer Satz zum Testen für das slicen in Strings.`

- gebe aus dem Satz mit dem `8` Element jedes `dritte` Element bis auf das `vorletzte` aus
<br> <br> **Lösung** 'e nra meef sleiSis'

- gebe aus dem String Satz `Satz` zurück
- bestimme hierzu mittels for lop den index für das slicen

### d) slicen auf einen Dataframe

In [ ]:
df_slice = pd.DataFrame(np.random.randint(1,6, size=(15, 4)), columns=list('ABCD'))
df_slice

- zeige mittels der `head` Funktion die ersten `3` rows vom DataFrame `df_slice` an

- slice den DataFrame `df_slice` auf die Records `3-5`

- slice den DataFrame `df_slice` ab row `1-8` und gebe jeden `zweiten` Wert an

- slice den Dataframe `df_slice` von der `ersten` row bis einschliesslich der `fünften` row und selektiere dabei die columns `B` und `D`

- slice den Dataframe `df_slice` auf die columns `B bis D`

### e)  Selektion auf Werte in einem Dataframe
- erstelle aus den Dataframe `df_slice` ein Sub-Dataframe, welche die Selektionskriterien in der column `A` gleich `3` ist

- erstelle aus den Dataframe `df_slice` ein Sub-Dataframe, welche die Selektionskriterien in der column `B` gleich `2` oder `4` ist

- erstelle aus den Dataframe `df_slice` ein Sub-Dataframe, welche die Selektionskriterien in der column `A` gleich `3` und  `B` gleich `5` ist

kennst du noch eine andere Schreibweise? für die Aufgabe: 
- erstelle aus den Dataframe `df_slice` ein Sub-Dataframe, welche die Selektionskriterien in der column `B` gleich `2` oder `4` ist

## Aufgabe 2: allgemeine Datenbearbeitung
### a) erweiteren und bearbeiten des DataFrames aus `1d)`
- reduziere den Datframes `df_slice` auf die Columns `A` und `B`, sowie die ersten `10` Rows und nenne diesen `work_df`

- nenne die Columns `A` und `B` in `VALUE_1` und `VALUE_2` im Datframes `work_df` um

- füge dem Dataframe `work_df` eine neue Column mit den Namen `GERADE_DIV` mit dem Wert `2` hinzu

- kopiere die Column `VALUE_1` in eine neue Column `COPY_VALUE_1` im Dataframe `work_df`

- lösche die Column den `VALUE_1` aus dem Dataframe `work_df`

- subtrahiere den Wert `VALUE_2` von `COPY_VALUE_1` 
- schreibe das Ergebnis in eine neue Column mit den Namen `SUB_ERGEBNIS` in den Dataframe `work_df`

- entferne als erste alle duplicate in dem ganzen Dataframe `work_df` 
<br>**ACHTUNG** `auch zur Übung wenn dein work_df keine Doubletten hat`

- entferne alle duplicate, auf den Columns `VALUE_2` und `GERADE_DIV` aus dem ganzen Dataframe `work_df` 
- behalte dabei den `letzten` Eintrag

- erstelle für den Dataframe `work_df` einen neuen `Index` beginnend bei 0

- erstelle die Summe in einer neuen Column mit dem Namen `SUM` in Dataftrane `work_df`

- gebe für die  Column `SUM` im Dataftrane `work_df` jeweils den minmal und den maximal aus

- gebe die Mittelwerte für alle Columns aus dem Dataframe `work_df`

- Die Column `SUM` soll der neue Index im Dataftrane `work_df` sein
- Des Weiteren soll die Column `index` gelöscht werden

- erstelle eine neue Column `ROUND` im Dataftrane `work_df`
- in der Columns `ROUND` sollen die Column `VALUE_2` durch `COPY_VALUE_1` dividiert werden
- Das Ergebnis soll auf 3 Nachkommastellen gerundet werden.

- erstelle eine neue Column `POTENZ` im Dataftrane `work_df`
- in der neuen Columns sollen die Potenz von `VALUE_2` auf `COPY_VALUE_1` berechnet werden
- das Ergebnis soll auf 1 Stelle vor dem Komma gerundet werden.

- zähle und gebe die verschiedenen Ausprägungen von `COPY_VALUE_1` im Dataftrane `work_df` aus

- gebe den Dataftrane `work_df` gedreht aus

### b) Allgemeine Datenanalyse von unbekannten Datensätzen

In [ ]:
from sklearn.datasets import load_wine
# Laden der Externen Daten
wine_data = load_wine()
wine = pd.DataFrame(wine_data.data, columns=wine_data.feature_names)
wine.head(3)

- bestimme die grösse des Datafranes `wine`

- gebe die Columnnamen des Datafranes `wine` an

- finde heraus welche Datentypen die jeweiligen Columns im Dataframe `wine` haben

- beschriebe den Dataframe `wine` und gebe die verschiedenen mathematischen Funktion wie z.B. `count`, `mmean`,`max`, `min` für alle Columns wieder

### c) bearbeiten des Datensatzes `wine`
- die Columnnamen in dem Dataframe `wine` sollen grossgeschrieben werden und das Zeichen `/` soll mittels `_` ersetzt werden

- sotiere die Werte der Column `ALCOHOL` in dem Dataframe `wine` absteigend

- erstelle einen neuen Datframe `sub_wine` aus dem Dataframe `wine`
- in dem Dataframe `sub_wine` sollen nur Werte zwischen 12.34 und 13.56 in der Column `ALCOHOL` enthalten sein
<br><br> 84 rows

- erstelle einen neuen Datframe `sub_wine_alc_color` aus dem Dataframe `sub_wine`, welcher nur aus den columns `ALCOHOL` und `COLOR_INTENSITY` bestehen soll