# Aufgabenblatt 6: Pandas

importiere folgende bibliothelen
- pandas
- numpy
- random
- string

## Aufgabe 1: erstelle einen eigenen Dataframe
### a) Dataframe erstellen mit manueller Eingabe

erstelle einen DataFrame `data_1a` mit den Kennzahlen:
- Column `column_string_1` mit *'String_1', 'String_2', 'Stirng_3'*
- Column `column_mix` mit *'rot', 2, 'blau'*
- Column `column_int` mit *1, 2, 2002*
- Column `column_float` mit *1.5, 1.7, 1.9*

### b) Dateframe erstellen mit zufälligen und automatisch hinzugefügten Werten

Erstelle einen Dataframe `data_1b`
- der Dataframe hat `4` Columns und `100` Records
- der Dataframe hat die Column `column_string` mit *2 zufälligen Buchstaben pro Eintrag*
- der Dataframe hat die Column `column_string_2` mit *gebe zufällig den Werten **rot** und **Blau** und der Wert rot soll 75% der Ausprägungen haben*
- der Dataframe hat die Column `column_int` mit *zufälligen Werte im Bereich von 1 bis 10*
- der Dataframe hat die Column `column_float` mit *zufällige Werte zwischen -100 und 100*
<br> <br>*Tipp:* 
- random.choice, string.ascii_lowercase, random.choices, uniform

## Aufgabe 2: merge

zusammenführen der beiden Dataframes `data_1a` und `data_1c` (alle Einträge):
- über die Column `column_int`, die Funktion `merge` und verwende für die Übungszwecke die verschiedenen Parameter:
    - gebe an aus welchem Dataframe kommt der Eintrag
    - wenn Columnnamen doppelt vorkommen sollen, diese mit rechts und links erweitert werden

<br> 101 rows × 8 columns

## Aufgabe 3: Datenimport  und Datenaufbereitung
### a) import von csv excel
- importiere die csv Datei `2023`

- importiere alle sheets aus der Excel_Datei Datei `before_2023`

### b) Datenaufbereitung des Dataframes `2023`
- schaue dir den neuen Datensatz an? 
- beschriebe die grösse des Datensatz

- betimme mathematisch Werte des Datensatzes

- bekomme allgemeine Informationen zum Datensatz Null Werte und Datentypen

- schaue dir die esten 5 Einträge an

- die Column `Verkaufspreis` und `Einkaufpreis` sollen nur aus Zahlen bestehen und den Datentyp **float** besitzen. entferne die Buchstaben und erstelle einen neuen Dataframe

**FORTGESCHRITTEN** 
- löse das Problem jeweils generisch der Buchstaben in den beiden Columns `Verkaufspreis` und `Einkaufpreis` 
<br><br>
**Tipp** r'\D' funktioniert nicht, weil es nur Zahlen zurücklässt und '\d+' weil nur Zsahlen gelöscht werden

Alle Columnnamen sollen: 
- nur aus `Grossbuchtaben` bestehen
- Leerzeichen sollen durch `_` ersetzt werden
- und Sonderzeichen angepasst werden in z.B. ö zu oe
- die Column `Unnamed: 0` kann gelöscht werden
<br><br> Records 10.927

- entferne die möglichen Doubletten in den Daten
<br><br> Records 10.303

- entferne alle Einträge, welchen keinen Werte beinhalten 
<br><br> Records 10.302

- Gibt es in den Daten Eintäge ohne Rechnungsnummer? 
    - Wenn ja wie viele? 
    - Können diese nachträglich logisch abgeleitet werden aus den Daten, wenn ja bitte befülle die Rechnungsnummern

- gebe die `NaN` Werte in einem eigenen Dataframe an, um die Frage der befüllung der Rechnungsnummer besser zu beantworten

- Daten die sowohl einen `NaN` Wert bei der `BESTELLNUMMER` als auch bei der `RECHNUNGSNUMMER` sollen aud dem Datensatz entfernt werden
<br><br> Records 10.301

- Befüllen der NaN Werte in `Rechnungsnummer`

- Befüllen der NaN Werte in `Bestellnummer`
<br> `TIPP:` apply und lambda

`Rechnungsnummern müssen einmalig sein`
- Aus diesem Grund sollen jeweils alle gleichen Rechnungsnummern aus dem Datensatz entfernt werden
- Erstelle hierfür einen neuen Dataframe `data_2023_unique`
<br><br> Records 10.079

- befülle die NaN Werte in `RABATT_IN_PROZENT` mit den richtigen Prozenten

- befülle die restlichen Wer te von `RABATT_IN_PROZENT` mit der Zahl `0`

- befülle die NaN Werte in `LISTENPREIS` mit dem Mittelwert

- befülle die NaN Werte mit dem `vorherigen` nicht NaN-Wert in der Column `VERKAUFSPREIS`

- befülle die NaN Werte mit dem `nachstehenden` nicht NaN-Wert in der Column `EINKAUFPREIS`

- schaue dir die Daten mit info einmal an

### c) Datenbearbeitung Wiederholung
- filter von dem Dataframe `data_2023_neu_unique alle` die `BESTELLNUMMER` zwischen `10` und `20` raus
<br><br> Records 11

- entferne alle Records mit den Kundennummern aus der between Aufgabe mittels `isin`
<br><br> Records 9.720

- sortiere die Daten nach `KUNDENNUMMER`

- sortiere die Daten nach `GETRAENK` **absteigend** und `BESTELLNUMMER` **aufsteigend**

## Aufgabe 4: Datenzusammenführen
### a) führe die Daten `data_2020, data_2021, data_2022 **und** data_2023_neu_unique` zusammen

#### fasse die Daten sinnvoll zusammen (Vorbereitung)
- schriebe eine Funktion um die Datensätze in die gleiche Columns umzuwandeln (siehe oben) und erstelle jeweile neue Datframes mit dem Titel:
    - data_2020_n
    - data_2021_n
    - data_2022_n

- benutze hierfür einmal `concat` und erstelle einen neuen Dataframes `data_all`
<br><br> Lösung *25079 rows × 11 columns*

- benutze hierfür einmal `append`
<br><br> Lösung *25079 rows × 11 columns*

# `**ACHTUNG** APPEND NORMALERWEISE NICHT VERWENDEN`

- benutze hierfür einmal `merge`
<br><br> Lösung *25079 rows × 11 columns*

- benutze hierfür einmal `join`
- funktioniert das?

### b) Newsletter Daten
- importiere die Dataframes `news` von den Jahren 2020 bis 2023

- setze im Dataframe `news_2020` den index auf `Kd.Nr`

- führe die Newsletter Dataframe aus den Jahren `2020, 2021, 2022` zusammen
- gebe nur die Kunden wieder die in allen 3 Datensätzen enthalten sind
<br><br> Lösung *24 rows × 38 columns*

- führe die Newsletter Dataframe aus den Jahren `2023, 2022` zusammen und spiele alle Werte von 2022 an 2023 dran
<br><br> Lösung *240 rows × 25 columns*

- schreibe **alle** `news_data` in einen neuen Dataframes `news_all_years`
- gebe nur eine `Kundennummer` in dem Dataframe als Column
- **Tipp** reset index bei dem Dataframe `news_2020`
<br><br> Ergebnis 284 rows × 49 columns

- füge über die Kundennummern die Daten aus `news_all_years` an die Daten aus `data_all` und speicher diese in dem Datensatz `data_merged_save`
<br><br> Ergebnis 25079 rows × 59 columns

## Aufgabe 5: schreiben der Daten in csv und excel

- speichere den Dataframe `data_merged_save` in einer Excel Datei

- speichere den Dataframe `data_merged_save` in einer csv Datei

## Aufgabe 6: Datenselektion
### a) selektion mittels Datenzusammenführen
- erstelle `nur` einen Dataframe von allen Kunden aus den Daten `data_2020`, welche auch Produkte in den anderen `data_2021, data_2022 und data_2023_neu_unique` haben
<br><br> Ergebnis 11.653 rows × 11 columns

### b) nach Selektionskriterien in Dataframes
- selktiere den Dataframe `data_all` nach den folgenden Kriterien
#### Der Dataframe soll endeweder:
- `nur` die Regionen `EU und Asien` und
- nur Kunden mit einer Nummer `grösser/gleich 50` und
- das Getränk `nicht gleich Champagner`
- es keinen gewärten Rabatt gibt (`= 0`)
<br> **oder** <br>
- die Destellnummer die Zahl 1 `(1, 10, 21 ..)` enthält
<br><br> Ergebnis 15.772 rows × 11 columns

#### selktiere den Dataframe `data_2023`
- es soll `kein Wert` in der Rechnungsnummer sein **und** `ein Wert` in der Kundennummer
<br><br> Ergebnis 8 rows

- es soll `ein Wert` in der Rabatt in Prozent sein **oder** `kein Wert` in der Verkaufspreis
<br><br> Ergebnis 10.920 rows × 12 columns